<div class="container"> 
  <div>
    <%= link_to 'Regresar', user_profile_path, class: 'btn btn-primary mt-2' %>
  </div>
  <div class="row mt-4">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <%= image_tag "snake.jpg", class: 'card-img-top' %>
          <h4 class="card-title">Snake</h4>
          <p class="card-text">
            El jugador controla una serpiente, que deambula por un plano bordeado, 
            recogiendo comida, tratando de evitar golpear su propia cola.
          </p>
          <a href="/games/snake" class="btn btn-primary">Jugar</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
         <%= image_tag "breakout.jpg", class: 'card-img-top' %>
        <div class="card-body">
          <h4 class="card-title">Breakout</h4>
          <p class="card-text">
            En Breakout, una capa de ladrillos se alinea en la parte superior y el 
            objetivo es destruirlos a todos haciendo rebotar repetidamente una 
            pelota en una paleta contra ellos.
          </p>
          <a href="/games/breakout" class="btn btn-primary">Jugar</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
         <%= image_tag "doodle.jpg", class: 'card-img-top' %>
        <div class="card-body">
          <h4 class="card-title">Doodle Jump</h4>
          <p class="card-text">
            En Doodle Jump, el objetivo es guiar a una criatura llamada "The 
            Doodler" por una serie interminable escaleras de plataformas sin caerse en el infinito.
          </p>
          <a href="/games/doodle_jump" class="btn btn-primary">Jugar</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
         <%= image_tag "tetris.jpg", class: 'card-img-top' %>
        <div class="card-body">
          <h4 class="card-title">Tetris</h4>
          <p class="card-text">
            El tetris consiste en ir encajando piezas de diferentes formas y 
            tamaños que caen desde la parte superior de la pantalla para 
            completar un muro sin dejar huecos.
          </p>
          <a href="/games/tetris" class="btn btn-primary">Jugar</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
         <%= image_tag "tetris.jpg", class: 'card-img-top' %>
        <div class="card-body">
          <h4 class="card-title">Helicopter</h4>
          <p class="card-text">
            El tetris consiste en ir encajando piezas de diferentes formas y 
            tamaños que caen desde la parte superior de la pantalla para 
            completar un muro sin dejar huecos.
          </p>
          <a href="/games/helicopter" class="btn btn-primary">Jugar</a>
        </div>
      </div>
    </div>
  </div>
</div>